@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #161616;
  font-family: 'Poppins', sans-serif;
  animation: background-switch-color auto linear;
  animation-timeline: scroll(root);
  overflow-x: hidden;
}

@keyframes background-switch-color {
	0%{
		background-color: rgb(15, 15, 15);
	}
	50%{
		background-color: rgb(8, 2, 32);
	}
	100%{
		background-color: rgb(8, 2, 32);
	}
}

/* @keyframes background-switch-color {
	0%{
		background-color: rgb(15, 15, 15);
	}
	33%{
		background-color: rgb(66, 19, 43);
	}
	66%{
		background-color: rgb(8, 2, 32);
	}
	100%{
		background-color: rgb(63, 1, 1);
	}
} */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html{
	scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.projects-section, .education-section, .tech-stack-section, .contact-section{
	scale: .8;
	opacity: 0;
	transform: translateX(-20%);
	animation: fade-in linear auto;
	animation-fill-mode: both;
	animation-timeline: view();
	animation-range: entry 20% cover 35%;
}

/* .tech-stack-section, .contact-section{
	scale: .8;
	opacity: 0;
	transform: translateX(20%);
	animation: fade-in linear auto;
	animation-fill-mode: both;
	animation-timeline: view();
	animation-range: entry 20% cover 35%;
} */

@keyframes fade-in {
	to{
		opacity: 1;
		transform: translateX(0);
		scale: 1;
	}
}

#proyectos{
	scroll-margin-top: 3vh;
}

#formacion{
	margin-top: 6rem;
	scroll-margin-top: 8vh;
}

.swal2-popup {
	background-color: #333;
	color: #fff;
	border-radius: 2rem;
}

@media only screen and (max-width: 1024px){
	#proyectos{
		scroll-margin-top: 4vh;
	}
	#formacion{
		scroll-margin-top: 7vh;
	}
}