.CardBody{
    display: flex;
    padding: 2rem;
    & .CardBodyMain{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        h2{
            text-align: center;
            font-size: 2rem;
            color: rgb(233, 233, 136)
        }
        p{
            padding: 1rem 2rem;
            text-align: center;
            line-height: 1.4;
        }
        & .CardTechnologies{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            & div{
                & img{
                    width: 3rem;
                    filter: drop-shadow(0px 0px 5px steelblue);
                }
            }
        }
    }
    & .CardSiteImg{
        /* max-width: 30rem; */
        width: 60%;
        border-radius: 1rem;
    }
}

@media only screen and (max-width: 1173px){
    .CardBody{
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: center;
        & .CardBodyMain{
            padding: 1rem;
            & p{
                padding: 1rem 0;
            }
        }
        & .CardSiteImg{
            object-fit: cover;
            width: 100%;
            border-radius: .5rem;
        }
    }
}